[submodule "upstream"]
	path = upstream
	url = https://github.com/sailfishos-mirror/calligra.git
[submodule "ki18n"]
	path = ki18n
	url = https://github.com/sailfishos-mirror/ki18n.git
[submodule "kconfigwidgets"]
	path = kconfigwidgets
	url = https://github.com/sailfishos-mirror/kconfigwidgets.git
[submodule "kcoreaddons"]
	path = kcoreaddons
	url = https://github.com/sailfishos-mirror/kcoreaddons.git
[submodule "kcodecs"]
	path = kcodecs
	url = https://github.com/sailfishos-mirror/kcodecs.git
[submodule "kconfig"]
	path = kconfig
	url = https://github.com/sailfishos-mirror/kconfig.git
[submodule "kwidgetsaddons"]
	path = kwidgetsaddons
	url = https://github.com/sailfishos-mirror/kwidgetsaddons.git
[submodule "kguiaddons"]
	path = kguiaddons
	url = https://github.com/sailfishos-mirror/kguiaddons.git
[submodule "kxmlgui"]
	path = kxmlgui
	url = https://github.com/sailfishos-mirror/kxmlgui.git
[submodule "kcompletion"]
	path = kcompletion
	url = https://github.com/sailfishos-mirror/kcompletion.git
[submodule "kiconthemes"]
	path = kiconthemes
	url = https://github.com/sailfishos-mirror/kiconthemes.git
[submodule "kservice"]
	path = kservice
	url = https://github.com/sailfishos-mirror/kservice.git
[submodule "kdbusaddons"]
	path = kdbusaddons
	url = https://github.com/sailfishos-mirror/kdbusaddons.git
[submodule "kio"]
	path = kio
	url = https://github.com/sailfishos-mirror/kio.git
[submodule "kitemviews"]
	path = kitemviews
	url = https://github.com/sailfishos-mirror/kitemviews.git
[submodule "kdiagram"]
	path = kdiagram
	url = https://github.com/sailfishos-mirror/kdiagram.git
